.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
}
.intro-image-absolute {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  
  @include media-breakpoint-up(md) {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
  @include media-breakpoint-up(lg) {
    max-width: 85%;
  }
  @include media-breakpoint-up(xl) {
    max-width: 80%;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
