.intro {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  h1 {
    color: $primary-dark;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 4px;
      background: linear-gradient(90deg, $primary, $accent-gold);
      border-radius: 2px;
    }

    @include media-breakpoint-up(md) {
      font-size: 38px;
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      font-size: 44px;

      &::after {
        width: 80px;
        height: 5px;
      }
    }
    @include media-breakpoint-up(xl) {
      font-size: 48px;
    }
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 20px;
    color: $primary-dark;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    color: $steel;
    text-align: center;
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
