.sub-footer {
  background: $sub-footer-background-color;
  color: $sub-footer-text-color;
  padding: 15px 0;

  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: center;
      text-align: left;
    }
  }

  .copyright {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    a {
      font-weight: bold;
      color: inherit;
    }
  }
}
